<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Account deactivated</title>
        <style>
            h1{
                font-family: serif;
                font-size: 30px;
                font-style: bold;
                font-weight: 300;
                line-height: 1.4;
                margin: 0 0 20px 0;
            }
            p{
                font-family: serif;
                font-size: 14px;
                line-height: 1.6;
                font-weight: normal;
                margin: 0 0 10px;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <h1>Cuenta desactivada</h1>
        <p>
            Hola {{ user.username }} {{ user.first_name }} {{ user.last_name}},
        </p>
        <p>
            por motivos desconocidos, tu cuenta ha sido desactivada por un administrador, podrá volver a acceder cuando
            se le conceda permiso.
        </p>
        <p>
            Gracias por su atención.
        </p>
    </body>
</html>