<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Password reset</title>
        <style>
            h1{
                font-family: serif;
                font-size: 30px;
                font-style: bold;
                font-weight: 300;
                line-height: 1.4;
                margin: 0 0 20px 0;
            }
            p{
                font-family: serif;
                font-size: 14px;
                line-height: 1.6;
                font-weight: normal;
                margin: 0 0 10px;
                padding: 0;
            }
        </style>
    </head>
    <body>
        <h1>Restablecer contraseña</h1>
        <p>
            Hola {{ user.username }} {{ user.first_name }} {{ user.last_name}},
        </p>
        <p>
            para restablecer tu contraseña, haz click en el siguiente enlace:
        </p>
        <p>
            <a href="{{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">
                {{ protocol}}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
            </a>
        </p>
        <p>
            Si no has solicitado un restablecimiento de contraseña, puedes ignorar este correo.
        </p>
    </body>
</html>