{% extends 'base.html' %}
{% block title %}Password change done{% endblock %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="password-change-done" class="password-change-done-area">
    <div class="area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card border-box">
                        <div class="card-body">
                        <h2>Contraseña cambiada</h2>
                        <hr>
                        <p>Su contraseña ha sido cambiada con éxito</p>
                        <div class="d-flex justify-content-end form-buttons">
                            <a href="{% url 'home' %}" class="btn btn-modify">Volver al home</a>
                        </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
