{% extends 'base.html' %}
{% block title %}Logged out{% endblock %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="password-reset-done" class="password-reset-done-area">
    <div class="area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card border-box">
                        <div class="card-body">
                        <h2>Restablecimiento de contraseña enviado</h2>
                        <hr>
                        <p class="confirm-message">Le enviamos instrucciones por correo electrónico 📩 para configurar su contraseña. Si existe una
                            cuenta con el correo electrónico que ingresó, debería recibirlo en breve.</p>
                        <p class="error-message">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se
                            registró y verifique su carpeta de correo no deseado 📥.</p>
                        <div class="d-flex justify-content-end form-buttons">
                            <a href="{% url 'login' %}" class="btn btn-list me-md-2">Log in</a>
                            <a href="{% url 'home' %}" class="btn btn-modify">Home</a>
                        </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
