{% extends 'base.html' %}
{% block title %}Password reset done{% endblock %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="password-reset-done" class="password-reset-done-area">
    <div class="area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card border-box">
                        <div class="card-body">
                        <h2>Restablecimiento de contraseña completado</h2>
                        <hr>
                        <p class="confirm-message">Su contraseña ha sido establecida con éxito. Ahora puede continuar e iniciar sesión 👏.</p>
                        <div class="d-flex justify-content-end form-buttons">
                            <a href="{% url 'login' %}" class="btn btn-modify">Login</a>
                        </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
