{% extends 'base.html' %}
{% block title %}Sign in{% endblock %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="register" class="register-area">
    <div class="area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card border-box">
                        <div class="card-body">
                        <h2>Sign in</h2>
                        <hr>
                        <form method="post" action="{% url 'register' %}">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <div class="d-flex justify-content-end form-buttons">
                                <input type="submit" value="Sign in" onclick="navbarLinkActive(0)" class="btn btn-save">
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
