{% extends 'base.html' %}
{% block title %}Logged out{% endblock %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="password-reset-done" class="password-reset-done-area">
    <div class="area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card border-box">
                        <div class="card-body">
                        <h2>Petición de registro</h2>
                        <hr>
                        <p class="confirm-message">Su petición de registro se ha guardado con éxito 😄.</p>
                        <p>Cuando se le conceda permiso de acceso se le enviará un correo de confirmación 📩.</p>
                        <div class="d-flex justify-content-end form-buttons">
                            <a href="{% url 'login' %}" class="btn btn-list me-md-2">Log in</a>
                            <a href="{% url 'home' %}" class="btn btn-modify">Home</a>
                        </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
