{% extends 'base.html' %}
{% block title %}Añadir excavacion{% endblock %}
{% load static %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="add-excavation" class="excavation-area">
    <div class="area-padding">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-6 offset-md-3">
                    <div class="card">
                        <div class="card-body">
                            <h2>Añadir nueva excavación</h2>
                            <hr>
                            <form action="" method="post">
                                {% csrf_token %}
                                {{ form | crispy}}
                                <div class="d-flex justify-content-end form-buttons">
                                    <input type="reset" value="Limpiar" class="btn btn-secondary me-md-2">
                                    <input type="submit" value="Guardar" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}