{% extends "base.html" %}
{% block title %}Materiales construidos{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="builtmaterials-list" class="builtmaterials-area">
    <div class="area-padding">
        <div class="container">
            <div class="card border-box">
                <div class="card-body">
                    <h2>Materiales construidos</h2>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <caption>Listado de materiales construidos</caption>
                            <tr>
                                <th>Nombre</th>
                                {% if perms.myFindings.delete_builtmaterial %}
                                <th>Opciones</th>
                                {% endif %}

                            </tr>
                    
                            {% for m in entity %}
                    
                            <tr>
                                <td>{{ m.nombre }}</td>
                                {% if perms.myFindings.delete_builtmaterial %}
                                <td>
                                    <div class="d-flex">
                                        <a href="{% url 'delete_builtmaterial' m.nombre %}" class="btn btn-delete">Eliminar</a>
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            
                            {% endfor %}
                            
                        </table>
                        <div>
                            {% include 'templates/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}