{% extends 'base.html' %}
{% block title %}Contacto{% endblock %}
{% block contenido %}

<div id="contact" class="contact-area">
    <div class="area-padding">
        <div class="container">
            <!-- Headline -->
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section-headline text-center">
                        <h2>Contacta con nosotros</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Email column -->
                <div class="col-md-6">
                    <div class="contact-icon text-center">
                        <em class="bi bi-envelope"></em>
                        <p>
                            <span>Email: </span>alexespsan@correo.ugr.es<br>
                            <span>GitHub: </span> <a href="https://github.com/alexespana/" target="blanck">https://github.com/alexespana/</a>
                        </p>
                    </div>
                </div>
                <!-- Direction column -->
                <div class="col-md-6">
                    <div class="contact-icon text-center">
                        <em class="bi bi-geo-alt"></em>
                        <p>
                            <span>Localización: </span>Granada<br>
                            <span>España</span>
                        </p>
                    </div>
                </div>
            </div>
            <!-- Granada map -->
            <div class="row">
                <div class="col-md-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50860.99028773957!2d-3.6262911086727807!3d37.18094109708934!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd71fce62d32c27d%3A0x9258f79dd3600d72!2sGranada!5e0!3m2!1ses!2ses!4v1646060057475!5m2!1ses!2ses" title="Granada" width="100%" height="380" style="border:0;" allowfullscreen=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}