{% extends "base.html" %}
{% block title %}Excavaciones{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="excavations-list" class="excavation-area">
    <div class="area-padding">
        <div class="container">
            <div class="card">
                <div class="card-body">
                    <h2>Lista de excavaciones</h2>
                    <hr>
                    <table class="table table-striped table-hover table-responsive-sm">
                        <caption>Listado de excavaciones</caption>
                        <tr>
                            <th>Número de excavación</th>
                            <th>Coordenada x</th>
                            <th>Coordenada y</th>
                            <th>Altura</th>
                            <th>Opciones</th>
                        </tr>
                
                        {% for e in excavations %}
                
                        <tr>
                            <td>{{ e.n_excavacion }}</td>
                            <td>{{ e.coordenada_x }}</td>
                            <td>{{ e.coordenada_y }}</td>
                            <td>{{ e.altura }}</td>
                            <td>
                                <a href="{% url 'delete_excavation' e.id %}" class="btn btn-danger">Eliminar</a>
                                <a href="{% url 'modify_excavation' e.id %}" class="btn btn-warning">Modificar</a>
                            </td>
                        </tr>
                        
                        {% endfor %}
                        
                    </table>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}