{% extends "base.html" %}
{% block title %}Excavaciones{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="excavations-list" class="excavation-area">
    <div class="area-padding">
        <div class="container">
            <div class="card border-box">
                <div class="card-body">
                    <h2>Excavaciones</h2>
                    <hr>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <caption>Listado de excavaciones</caption>
                            <tr>
                                <th>Número de excavación</th>
                                <th>Latitud </th>
                                <th>Longitud</th>
                                <th>Altura</th>
                                {% if perms.myFindings.view_sedimentaryue and perms.myFindings.view_builtue or perms.myFindings.change_excavation or perms.myFindings.delete_excavation %}    
                                <th>Opciones</th>
                                {% endif %}
                            </tr>
                    
                            {% for e in entity %}
                    
                            <tr>
                                <td>{{ e.n_excavacion }}</td>
                                <td>{{ e.latitud }}</td>
                                <td>{{ e.longitud }}</td>
                                <td>{{ e.altura }}</td>
                                {% if perms.myFindings.view_sedimentaryue and perms.myFindings.view_builtue or perms.myFindings.change_excavation or  perms.myFindings.delete_excavation %}    
                                <td>
                                    <div class="d-flex">
                                        {% if perms.myFindings.view_sedimentaryue and perms.myFindings.view_builtue %}
                                        <a href="{% url 'excavationues' e.id %}" class="btn btn-list me-md-2">Listar UES</a>
                                        {% endif %}
                                        {% if perms.myFindings.change_excavation %}
                                        <a href="{% url 'modify_excavation' e.id %}" class="btn btn-modify me-md-2">Modificar</a>
                                        {% endif %}
                                        {% if perms.myFindings.delete_excavation %}
                                        <a href="{% url 'delete_excavation' e.id %}" class="btn btn-delete me-md-2">Eliminar</a>
                                        {% endif %}
                                        {% if perms.myFindings.view_excavation %}
                                        <a href="{% url 'generate_report' e.id %}" class="btn btn-info">Descargar informe (.docx)</a>
                                        {% endif %}
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            
                            {% endfor %}
                            
                        </table>
                        <div>
                            {% include 'templates/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}