{% extends "base.html" %}
{% block title %}Hechos{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="facts-list" class="fact-area">
    <div class="area-padding">
        <div class="container">
            <div class="card border-box">
                <div class="card-body">
                    {% if n_room == none %}
                        <h2>Hechos</h2>
                    {% else %}
                        <h2>Hechos de la estancia {{ n_room }}</h2>
                    {% endif %}
                    <hr>
                    {% if perms.myFindings.add_fact %}
                    <div class="d-flex justify-content-end mb-2">
                        <a href="{% url 'add_fact' %}" class="btn btn-add">Añadir</a>
                    </div>
                    {% endif %}                    
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <caption>Listado de hechos</caption>
                            <tr>
                                <th>Estancia</th>
                                <th>Letra</th>
                                <th>Número</th>
                                <th>Fase</th>
                                <th>TPQ</th>
                                <th>TAQ</th>
                                <th>Definición</th>
                                <th>Comentarios</th>
                                <th>Sector</th>
                                <th>Zona</th>
                                <th>Año</th>
                                <th>Estructura</th>
                                <th>Croquis plan</th>
                                <th>Croquis sección</th>
                                {% if perms.myFindings.view_sedimentaryue and perms.myFindings.view_builtue or perms.myFindings.change_fact or perms.myFindings.delete_fact %}
                                <th>Opciones</th>
                                {% endif %}
                            </tr>
                    
                            {% for f in entity %}
                    
                            <tr>
                                <td>{{ f.estancia }}</td>
                                <td>{{ f.letra }}</td>
                                <td>{{ f.numero }}</td>
                                <td>{{ f.fase }}</td>
                                <td>{{ f.tpq }}</td>
                                <td>{{ f.taq }}</td>
                                <td>{{ f.definicion }}</td>
                                <td>{{ f.comentarios }}</td>
                                <td>{{ f.sector }}</td>
                                <td>{{ f.zona }}</td>
                                <td>{{ f.año }}</td>
                                <td>{{ f.estructura }}</td>
                                <td><img src="{{ f.croquis_plan.url }}" alt="Plan"></td>
                                <td><img src="{{ f.croquis_seccion.url }}" alt="Seccion"></td>
                                {% if perms.myFindings.view_sedimentaryue and perms.myFindings.view_builtue or perms.myFindings.change_fact or perms.myFindings.delete_fact %}
                                <td>
                                    <div class="d-flex">
                                        {% if perms.myFindings.view_sedimentaryue and perms.myFindings.view_builtue %}
                                        <a href="{% url 'factues' f.id %}" class="btn btn-list me-md-2">Listar UES</a>
                                        {% endif %}
                                        {% if perms.myFindings.change_fact %}
                                        <a href="{% url 'modify_fact' f.id %}" class="btn btn-modify me-md-2">Modificar</a>
                                        {% endif %}
                                        {% if perms.myFindings.delete_fact %}
                                        <a href="{% url 'delete_fact' f.id %}" class="btn btn-delete">Eliminar</a>
                                        {% endif %}
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            
                            {% endfor %}
                        </table>
                        <div>
                            {% include 'templates/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}