{% extends 'base.html' %}
{% block title %}MyFindings{% endblock %}
{% load static %}
{% load crispy_forms_tags %}
{% block contenido %}

<!-- Carousel (https://getbootstrap.com/docs/5.1/components/carousel/)-->
<section id="carousel">
    <div class="container">
        <div id="indicators" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner">

            <div id="carousel-1" class="carousel-item active">
                <div class="carousel-container">
                <div class="container">
                    <h2>La mejor aplicación arqueológica del mundo</h2>
                    <p>Lleva tus excavaciones a otro nivel con su total control y gestión.</p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn-login">Log out</a>
                    {% else %}
                    <a href="{% url 'login' %}" onclick="navbarLinkActive(28)" class="btn-login">Log in</a>
                    {% endif %}                </div>
                </div>
            </div>

            <div id="carousel-2" class="carousel-item">
                <div class="carousel-container">
                <div class="container">
                    <h2>Visualiza, modifica, elimina</h2>
                    <p>Nunca había sido tan fácil editar los datos de tus excavaciones. </p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn-login">Log out</a>
                    {% else %}
                    <a href="{% url 'login' %}" onclick="navbarLinkActive(28)" class="btn-login">Log in</a>
                    {% endif %}
                </div>
                </div>
            </div>

            <div id="carousel-3" class="carousel-item">
                <div class="carousel-container">
                <div class="container">
                    <h2>Gestiona los datos fácilmente</h2>
                    <p>Haz grandes imágenes y añádelas a tus fichas de datos. </p>
                    {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="btn-login">Log out</a>
                    {% else %}
                    <a href="{% url 'login' %}" onclick="navbarLinkActive(28)" class="btn-login">Log in</a>
                    {% endif %}                
                </div>
                </div>
            </div>

        </div>

        <a class="carousel-control-prev" href="#indicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#indicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

        </div>
    </div>
</section> <!-- End sliders -->

{% endblock %}