{% extends "base.html" %}
{% block title %}Inclusiones{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="inclusions-list" class="inclusions-area">
    <div class="area-padding">
        <div class="container">
            <div class="card border-box">
                <div class="card-body">
                    <h2>Inclusiones</h2>
                    <hr>
                    {% if perms.myFindings.add_inclusion %}
                    <div class="d-flex justify-content-end mb-2">
                        <a href="{% url 'add_inclusion' %}" class="btn btn-add">Añadir</a>
                    </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <caption>Listado de inclusiones</caption>
                            <tr>
                                <th>UE sedimentaria</th>
                                <th>Frecuencia</th>
                                <th>Grosor</th>
                                <th>Tipo</th>
                                {% if perms.myFindings.change_inclusion or perms.myFindings.delete_inclusion %}
                                <th>Opciones</th>
                                {% endif %}
                            </tr>
                    
                            {% for i in entity %}
                    
                            <tr>
                                <td>{{ i.uesedimentaria }}</td>
                                <td>{{ i.frecuencia }}</td>
                                <td>{{ i.grosor }}</td>
                                <td>{{ i.tipo }}</td>
                                {% if perms.myFindings.change_inclusion or perms.myFindings.delete_inclusion %}
                                <td>
                                    <div class="d-flex">
                                        {% if perms.myFindings.change_inclusion %}
                                        <a href="{% url 'modify_inclusion' i.id %}" class="btn btn-modify me-md-2">Modificar</a>
                                        {% endif %}
                                        {% if perms.myFindings.delete_inclusion %}
                                        <a href="{% url 'delete_inclusion' i.id %}" class="btn btn-delete">Eliminar</a>
                                        {% endif %}
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            
                            {% endfor %}
                            
                        </table>
                        <div>
                            {% include 'templates/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}