{% extends "base.html" %}
{% block title %}System logs{% endblock %}
{% block contenido %}

<div id="logs-list" class="logs-area">
    <div class="area-padding">
        <div class="container">
            <div class="card border-box">
                <div class="card-body">
                    <h2>Actividad del sistema</h2>
                    <hr>
                    {% if perms.myFindings.add_excavation %}
                    <div class="d-flex justify-content-end mb-2">
                        <a href="{% url 'download_logs' %}" class="btn btn-download">Descargar logs</a>
                    </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <caption>Logs del sistema</caption>
                            {% for log in entity %}
                            <tr>
                                <td>{{ log }}</td>
                            </tr>
                            {% endfor %}
                            
                        </table>
                        <div>
                            {% include 'templates/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}