{% extends "base.html" %}
{% block title %}Unidades sedimentarias{% endblock %}
{% block contenido %}
{% load crispy_forms_tags %}

<div id="sedimentaryues-list" class="sedimentaryues-area">
    <div class="area-padding">
        <div class="container">
            <div class="card border-box">
                <div class="card-body">
                    <h2>Unidades sedimentarias</h2>
                    <hr>
                    {% if perms.myFindings.add_sedimentaryue %}
                    <div class="d-flex justify-content-end mb-2">
                        <a href="{% url 'add_sedimentaryue' %}" class="btn btn-add">Añadir</a>
                    </div>
                    {% endif %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <caption>Listado de unidades sedimentarias</caption>
                            <tr>
                                <th>Código</th>
                                <th>Hecho</th>
                                <th>Excavacion</th>
                                <th>Fase</th>
                                <th>Periodo</th>
                                <th>Tipo estructura</th>
                                <th>Tipo textura</th>
                                <th>Cota superior</th>
                                <th>Cota inferior</th>
                                {% if perms.myFindings.change_sedimentaryue or perms.myFindings.delete_sedimentaryue %}
                                <th>Opciones</th>
                                {% endif %}
                            </tr>
                    
                            {% for u in entity %}
                    
                            <tr>
                                <td>UE{{ u.codigo }}</td>
                                {% if u.hecho == None %}
                                    <td>Sin asociar</td>
                                {% else %}
                                    <td>{{ u.hecho }}</td>
                                {% endif %}
                                <td>{{ u.excavacion }}</td>
                                <td>{{ u.fase }}</td>
                                <td>{{ u.periodo }}</td>
                                <td>{{ u.tipo_estructura }}</td>
                                <td>{{ u.tipo_textura }}</td>
                                <td>{{ u.cota_superior }}</td>
                                <td>{{ u.cota_inferior }}</td>
                                {% if perms.myFindings.change_sedimentaryue or perms.myFindings.delete_sedimentaryue %}
                                <td>
                                    <div class="d-flex">
                                        {% if perms.myFindings.change_sedimentaryue %}
                                        <a href="{% url 'modify_sedimentaryue' u.id %}" class="btn btn-modify me-md-2">Modificar</a>
                                        {% endif %}
                                        {% if perms.myFindings.delete_sedimentaryue %}
                                        <a href="{% url 'delete_sedimentaryue' u.id %}" class="btn btn-delete">Eliminar</a>
                                        {% endif %}
                                    </div>
                                </td>
                                {% endif %}
                            </tr>
                            
                            {% endfor %}
                            
                        </table>
                        <div>
                            {% include 'templates/paginator.html' %}
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

{% endblock %}